.app-body {
  height: 100vh;
  width: 100vw;
  background-color: rgb(246, 247, 251);
  display: flex;
  -webkit-font-smoothing: antialised !important;
}
body {
  margin: 0;
  padding: 0;
}
.body-container__main {
  display: flex;
  flex-direction: column;
}